# This workflow setups an environment with python and uv to be able to run check-jsonschema

name: validate-json

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ '*' ]

jobs:
  validate-renovate-json:
    runs-on: ubuntu-latest
    steps:
      - name: Install the latest version of uv and set the python version
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          python-version: 3.13
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run check-jsonschema
        run: uvx check-jsonschema --builtin-schema vendor.renovate renovate-default.json .github/renovate.json renovate-lite.json
